.vscode/
UVA_10245_The_Closest_Pair_Problem/main.exe
UVA_10107_What_is_the_Median/main.exe
UVA_11264_Coin_Collector/main.exe
UVA_10020_Minimal_Coverage/main.exe
UVA_1062_Containers/main.exe
UVA_10260_Soundex/main.exe
UVA_12650_Dangerous_Dive/main.exe
UVA_11308_Bankrupt_Baker/main.exe