.vscode/
UVA_10245_The_Closest_Pair_Problem/main.exe
UVA_10020_Minimal_Coverage/main.exe
UVA_1062_Containers/main.exe

# Arreglos unidimensionales y bidimensionales
UVA_13181_Sleeping_in_Hostels/main.exe
UVA_13048_Burger_Stand/main.exe
UVA_12187_Brothers/main.exe
UVA_466_Mirror_Mirror/main.exe

# Ordenación
UVA_10107_What_is_the_Median/main.exe
UVA_12541_Birthdates/main.exe
UVA_12709_Falling_Ants/main.exe
UVA_1610_Party_Games/main.exe
UVA_11321_Sort_Sort_and_Sort/main.exe
UVA_13212_How_many_inversions/main.exe

# Pilas y Colas
UVA_514_Rails/main.exe
UVA_13055_Inception/main.exe
UVA_727_Equation/main.exe
UVA_10172_The_Lonesome_Cargo_Distributor/main.exe

# Estructuras de Datos no Lineales
UVA_10260_Soundex/main.exe
UVA_12650_Dangerous_Dive/main.exe
UVA_10887_Concatenation_of_Languages/main.exe
UVA_10745_Dominant_Strings/main.exe
UVA_11308_Bankrupt_Baker/main.exe

# Estructuras Divide y Venceras
UVA_11621_Small_Factors/main.exe
UVA_12965_Angry_Bids/main.exe
UVA_12190_Electric_Bill/main.exe
UVA_183_Bit_Maps/main.exe
UVA_11147_KuPellaKeS_BST/main.exe

# Algoritmos Voraces
UVA_11264_Coin_Collector/main.exe
UVA_11729_Comando_War/main.exe
UVA_12673_Football/main.exe
UVA_10954_Add_All/main.exe
UVA_12482_Short_Story_Competition/main.exe

# Programacion Dinámica
UVA_1196_Tiling_Up_Blocks/main.exe
UVA_11566_Lets_Yum_Cha/main.exe
UVA_10448_Unique_World/main.exe
UVA_216_Getting_in_Line/main.exe
UVA_10003_Cutting_Sticks/main.exe

# Teoria de Numeros
UVA_1644_Prime_Gap/main.exe
UVA_583_Prime_Factors/main.exe
UVA_294_Divisors/main.exe
UVA_11417_GCD/main.exe